{% extends 'app/base.html'%}
{% block title%} Password Reset Complete{% endblock%}
{% block main%}
<div class="container">
    <div class="container mx-auto col-sm-5">
        <h4>Password Reset Complete!! </h4>
        <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
        <div class="text-center">
            <i class="fa fa-check a-beat-fade text-center" style="font-size:100px;color:rgb(32, 94, 32);"></i>
        </div>
    </div>
</div>

{% endblock main%}